@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-secondary;
    font-size: 15px;
  }

  body {
    @apply bg-cream text-secondary;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  
  h2 {
    @apply text-lg font-semibold;
  }
  
  h3 {
    @apply text-base font-semibold;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .compact-table th {
    @apply py-2 px-3 text-xs;
  }
  
  .compact-table td {
    @apply py-2 px-3 text-sm;
  }
}